*{
  background-color: bisque;
}

.form{
  padding: 0.5em;
  background-color: aqua;
  align-items: flex-start;
}

.name{
  padding:0.2em;
}

.genre{
}

.form div label{
  text-transform:;
}

button{
  border-radius: 3px;
}