@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Roboto+Mono&family=Supermercado+One&display=swap');



h1{
  background-image: url(../ressources/images/backinfo.png);
  background-attachment: fixed;
  background-position: 1920px 1080px;
  height: 110px;
  width: 100%;
  }

body{
  background-image: url(../ressources/images/backinfo.png);
  background-size: 1920px 1080px;
  background-attachment: fixed;
  margin-left: 0px;
  margin-top: 0px;
  font-family: 'Mochiy Pop P One', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Supermercado One', cursive;
}

h1{
  text-shadow: -1px -1px 1px rgb(255, 255, 255), 1px 1px 1px rgba(0,0,0,.5), 24px 13px 6px rgba(0,0,0,0.18), 24px 13px 6px rgba(0,0,0,0.18), 24px 13px 6px rgba(0,0,0,0.18);
  text-align: center;
  position: fixed;
  font-size: 40px;
  width: 100%;
  margin-top: 0px;
}

.vboite{
  display: block;
  margin-left:  auto;
  margin-right: auto ;  /* une boite dans la boite pour centrer la video*/
  text-align: center;

}

.video{
  margin-top: 120px; /* pour ne pas passer derrière le header*/
}

  p{
  text-align: center;
  color: bisque;
  width: 100%;
  margin-left:0px auto;
}


 img {
  display: block;
  margin-left:  auto;  /*ne fonctionne pas*/
  margin-right: auto ;
  max-width: 600px;
  max-height:  auto;
 }

 object{
   display: block;
   margin-left:  auto;/* fonctionne */
   margin-right: auto ;
 
 }